.footer-container {
    background-color: var(--dark-theme-color);
    color: var(--white);
}

.footer-content{
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2em;
    margin-top: 2em;
}

.footer-container a{
    color: var(--white);
}

.footer-container a:hover{
    filter: brightness(90%);
}

.footer-menu-title{
    font-size: 1.1em;
}

.info-footer-menu > .menu-info-footer-menu-container > ul,
.navigate-footer-menu > .menu-navigate-footer-menu-container > ul{
    padding: 0;
}

.info-footer-menu > .menu-info-footer-menu-container > ul > li,
.navigate-footer-menu > .menu-navigate-footer-menu-container > ul > li{
    padding: .5em 0;
}